
<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">

    <div fxFlex="40">
        <mat-card *ngIf="dishMenu">
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dishMenu.name | uppercase}}</h3>
                </mat-card-title>
             </mat-card-header>
             <img mat-card-image src={{dishMenu.image}} alt={{dishMenu.name}}>
                <mat-card-content>
                     <p>{{dishMenu.description}}</p>
                </mat-card-content>
           <mat-card-actions>
               <button mat-button>LIKE</button>
               <button mat-button>SHARE</button>
           </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="40">
        
        <mat-list *ngIf="dishMenu">
            <h3 matLine>Comments</h3> 

            <mat-list-item *ngFor="let index of dishMenu.comments">
                <p matLine>{{index.comment}}  </p><br/> <p matLine> {{index.rating}} <span>Stars</span> </p> <br/> <p matLine>-- {{index.author}} {{index.date | date}} </p></mat-list-item>
        </mat-list>
    </div>


</div>